
<h2>Register as Restaurant</h2>

<br />

<div class="container">
    <form method="post">
        Name:
        <input type="text" name="Name" class="form-control" />
        <br />
        Email:
        <input type="text" name="Email" class="form-control" />
        <br />
        Phone:
        <input type="text" name="Phone" class="form-control" />
        <br />
        Address:
        <input type="text" name="Address" class="form-control" />
        <br />
        Username:
        <input type="text" name="Username" class="form-control" />
        <br />
        Password:
        <input type="password" name="Password" class="form-control" />
        <br />
        Confirm Password:
        <input type="password" name="" class="form-control" />

        <br /><br />
        <button class="btn btn-primary">Register</button>
    </form>
</div>